<h1><%= @title %></h1>

<%= error_messages_for :event %>

<%- form_for @event do |event_form| -%>
  <%- @item_template = generate_template(event_form, :items) -%>
  <table class="event">
    <tbody>
      <tr><th><%= event_form.label :spent_on, "日付" %></th><td><%= event_form.text_field :spent_on %></td></tr>
      <tr><th><%= event_form.label :title, "タイトル" %></th><td><%= event_form.text_field :title %></td></tr>
      <tr><th><%= event_form.label :note, "ノート" %></th><td><%= event_form.text_area :note, :size => "60x3" %></td></tr>
    </tbody>
  </table>

  <table class="items">
    <thead><tr><th>タグ</th><th>入金</th><th>出金</th><th>&nbsp;</th></tr></thead>
    <tbody>
      <%- event_form.fields_for :items do |item_form| -%>
        <%= render :partial => 'item', :locals => { :f => item_form } %>
      <%- end -%>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <%= link_to "Add a item", "#item", :class => "add-item", :rel => "items" %>
        </td>
      </tr>
    </tfoot>
  </table>
  <p><%= event_form.submit %></p>
<%- end -%>

<p>
  <%= link_to 'Back', events_path %>
  <% unless @event.new_record? -%>
    <%= link_to 'Destroy', event_path(@event), :confirm => "Are you sure?", :method => :delete %>
  <% end -%>
</p>

<div>
  <div id="dialog">
    <%= text_field_tag 'tag_list_helper', nil, :size => 50 %>
    <div class="tags">
      <%- Keyword.roots.each do |root| -%>
        <div class="tag-group">
          <%- tag_links(root).each do |link| -%>
            <span class="tag"><%= link %></span>
          <%- end -%>
        </div>
      <%- end -%>
    </div>
  </div>
</div>
<%- content_for :script do -%>
  $.datepicker.setDefaults($.datepicker.regional['ja']);
  $("#event_spent_on").datepicker({
    dateFormat: "yy-mm-dd",
  });
  var item = "<%= @item_template %>";
  var select_tags_in_dialog = function(tags){
    tags = tags.split(" ");
    $.each($("#dialog div.tags span.tag"), function(index, val){
      if (tags.indexOf($(val).text()) >= 0){
        $(val).addClass("selected");
      }
    });
  };
  <%# アイテム追加 %>
  $("a.add-item").click(function(event){
    var tr = $(replace_ids(item));
    $("table.items tbody").append(tr).children("tbody tr:last a").click(function(event){
      $(event.target).parent().parent().remove();
      justifyHeight();
    });
    $("table.items tbody tr:last input.tag_list").focus(function(event){
      $.data($("#dialog")[0], "target", $(event.target).attr("id"));
      var tags = $(event.target).val();
      $("#tag_list_helper").val(tags);
      $("#dialog").dialog("open");
      select_tags_in_dialog(tags);
    });
    justifyHeight();
  });
  <%# 削除リンク %>
  $("a.remove").click(function(event){
    $(event.target).parent().parent().hide();
    $("input[type=hidden]", $(event.target).parent()).val(1);
    justifyHeight();
  });
  <%# タグをクリックしたらテキストボックスに追加する %>
  $("#dialog .tags .tag a").click(function(event){
    var tags = $("#tag_list_helper").val().split(" ");
    var text = $(event.target).text();
    if(tags.indexOf(text) >= 0){
      $(event.target).parent().removeClass("selected");
      tags = tags.filter(function(val, index){ return text != val });
    } else {
      $(event.target).parent().addClass("selected");
      tags.push(text);
    }
    $("#tag_list_helper").val($.unique(tags).join(" "));
  });
  $("#dialog").dialog({
    title: "タグ選択",
    width: 500,
    autoOpen: false,
    modal: true,
    open: function(event, ui){
      $("#dialog div.tags span.tag").removeClass("selected");
    },
    buttons: {
      "Cancel" : function(){
        $(this).dialog('close');
      },
      "Ok" : function(){
        $("#"+$.data(this, "target")).val($("#tag_list_helper").val());
        $(this).dialog('close');
      },
    },
  });
  <%# ダイアログを開く %>
  $("input.tag_list").focus(function(event){
    var target = $(event.target);
    $.data($("#dialog")[0], "target", target.attr("id"));
    var tags = target.val();
    $("#tag_list_helper").val(tags);
    $("#dialog").dialog("open");
    select_tags_in_dialog(tags);
  });
<%- end -%>

