<tr>
  <td><%= f.text_field :tag_list %></td>
  <td><%= f.text_field :founds_in %></td>
  <td><%= f.text_field :founds_out %></td>
  <td><%= f.hidden_field :id %><%= remove_link_unless_new_record(f) %></td>
</tr>
