<tr>
  <td class="tag"><%= f.text_field :tag_list, :class => "tag_list" %></td>
  <td class="founds-in"><%= f.text_field :founds_in %></td>
  <td class="founds-out"><%= f.text_field :founds_out %></td>
  <td><%= f.hidden_field :id %><%= remove_link_unless_new_record(f) %></td>
</tr>
