<%- @title = "一覧" -%>

<%- if @_template -%>
  <h1>テンプレート一覧</h1>
<%- end -%>
<%- if logged_in? -%>
<p>
  <%= link_to '前月', monthly_events_path(:year => @prev.year, :month => ("%02d" % @prev.month)), :id => "previous-month" %>
  <%= link_to '次月', monthly_events_path(:year => @next.year, :month => ("%02d" % @next.month)), :id => "next-month" %>
</p>
<p>
  <%= link_to '今月のレポート', monthly_reports_path(:year => @date.year, :month => ("%02d" % @date.month)) %>
</p>
<%- end -%>

<p><%= will_paginate @events %></p>

<table class="reports">
  <thead>
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>ノート</th>
      <th>操作</th>
    </tr>
  </thead>
  <%- @events.each do |event| -%>
    <tr class="event" id="event-<%= event.id %>">
      <td><%=h event.spent_on %></td>
      <td><%=h event.title %></td>
      <td><%=h event.short_note %></td>
      <td>
        <%= link_to "Show", event_path(event) %>
        <%= link_to "Edit", edit_event_path(event) %>
        <%= link_to "Destroy", event_path(event), :confirm => "Are you sure?", :method => :delete %>
      </td>
    </tr>
  <%- end -%>
</table>

<p><%= will_paginate @events %></p>

