<%- @title = "レポート" -%>
<%- form_tag(:controller => "reports", :action => "search") do -%>
  <div>
    <%= text_field_tag :first, params[:first] %> - <%= text_field_tag :last, params[:last] %>
    <%= submit_tag "検索" %>
  </div>
<%- end -%>

<table>
  <thead>
    <tr><td>タグ</td><td>入金</td><td>出金</td></tr>
  </thead>
  <tbody>
    <%- @keywords.each do |key| -%>
      <tr>
        <td><%=h key %></td>
        <td><%= @report[key][:founds_in] %></td>
        <td><%= @report[key][:founds_out] %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<%- content_for :script do -%>
  $("#first, #last").datepicker({ dateFormat: "yy-mm-dd" });
<%- end -%>
