<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <%= google_jsapi_tag %>
    <%= google_load_tag 'jquery', '1.3' %>
    <%= google_load_tag 'jqueryui', '1.7' %>
    <%= javascript_include_tag 'jquery.ui.datepicker-ja' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :head %>
    <%- javascript_tag do -%>
      jQuery(function($){
        if (navigator.cookieEnabled) {
          $("#cookie_check").hide();
        } else {
          $("#cookie_check").show();
        }
        <%= yield :script %>
      });
    <%- end -%>
    <%= stylesheet_link_tag 'grid' %>
    <%= stylesheet_link_tag 'bo' %>
    <%= stylesheet_link_tag 'jquery-ui-1.7.2.custom' %>
    <%= yield :multi_auth_additional_head %>
    <title><%= @title %></title>
  </head>
  <body>
    <div id="header" class="container_12">
      <div id="logo" class="grid_12">
        <%= link_to image_tag("logo.png"), root_path %>
      </div>
	  <div id="navigation" class="grid_12">
	    <ul>
          <li><%= link_to 'Home', root_path %></li>
          <%- if logged_in? -%>
            <li><%= link_to 'New Event', new_event_path %></li>
            <li><%= link_to 'Reports', :controller => "/reports" %></li>
            <li><%= link_to 'Templates', templates_path %></li>
            <li><%= link_to 'New Template', new_template_path %></li>
            <li><%= link_to 'Settings', :controller => "/settings" %></li>
            <li><%= link_to 'Logout', { :controller => '/auth', :action => 'logout' }, :method => :post %></li>
          <%- else -%>
            <li><%= link_to 'Signup', :controller => '/signup' %></li>
            <li><%= link_to 'Login', :controller => '/auth' %></li>
          <%- end -%>
	    </ul>
	  </div>
	</div>
    <div id="content" class="container_12">
	  <div id="leftcolumn" class="grid_9">
        <div id="cookie_check" style="display:none">
          <%=h("Please enable cookie.") %>
        </div>
        <noscript>
          <%=h("Please enable javascript and cookie.") %>
        </noscript>
        <div class="notice"><p><%= flash[:notice] %></p></div>
        <div class="error"><p><%= flash[:error] %></p></div>
        <%= yield %>
      </div>
	  <div id="rightcolumn" class="grid_3">
        Right Column
	  </div>
    </div>
	<div id="footer" class="container_12">
	  <div class="grid_12">
	    <p>Powered by <%= link_to "bo", "http://github.com/okkez/bo" %></p>
	  </div>
	</div>
    <%- javascript_tag do -%>
      justifyHeight();
    <%- end -%>
  </body>
</html>
